.add-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100px;
}

.form-header h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #28a745; /* Green color */
  margin-bottom: 20px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 1rem;
  color: #495057; /* Dark gray */
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  color: #495057;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  border-color: #28a745;
}

textarea {
  height: 100px;
  resize: vertical;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}
