.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(130, 203, 243);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 50px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: green;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  